version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sport-sphere
    ports:
      - "5056:3000"
    environment:
      - NODE_ENV=production
    volumes:
      - ./public:/app/public
      - ./pages:/app/pages
    restart: unless-stopped

